body{
    overflow: hidden;
}
.left,.right
{
    height: 100vh;
    width: 100vh;
}
.left
{
    background-color: rgb(44, 44, 51);
}
.right
{
    background: white;
}
#SmartWatch
{
    color: white;
    padding-top: 300px;
    font-size:50px;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
    
}
    .rectangle1
    {
        position: absolute; 
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 200px; 
        height: 250px; 
        background: rgb(48, 48, 53);
        border-radius: 40px;
    } 
    .rectangle2
    {
        position: absolute; 
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 200px; 
        height: 220px; 
        background:black;
        border-radius: 40px;
    } 
    #first
    {
     color:white;
     text-align: center;
     padding-top: 10px;
    }
    #second
    {
    color:white;
    text-align: center;
    padding-top: 10px;
    }
    #third
    {
    color:white;
    text-align: center;
    }
    .fa-music
    {
        color: white;
    }
    .fa-clock-o
    {
        color: white;
        
    }
    .fa-comments
    {
        color: white;
    }